$bg-color: white;
$breakpoint-tablet: 768px;

.nav-bar {
    //position: fixed;
    // left: 0;
    // right: 0;
    padding: 25px;
    display: flex;
    //background-color: $bg-color;
    align-items: center;
    font-weight: 900;
    font-size: 25px;
    //box-shadow: 0px 10px 50px -20px inset black;
    color: white;
    max-width: var(--max-width);
    margin: auto;
    z-index: 999;
    .logo {
        //background-color: red;
    }
    .items {
        list-style: none;
        font-size: 18px;
        //background-color: blue;
        font-weight: normal;
        margin-left: auto;
        li {
            display: inline;
            margin-left: 50px;
        }
    }
}

    
@media (min-width: $breakpoint-tablet) {
    .nav-bar {
        padding: 25px 0px;
    }
}